.graph-container {
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid;
    flex-basis: 0;
    flex-grow: 1;
    z-index: 1;
    height: 300px;
    max-height: 350px;
    width: 100%;
}